<h4> 新闻编辑后台 > 编辑 </h4>
<%= simple_form_for [:admin, @message] do |f| %>
  <div class="group">
    <%= f.input :title %>
  </div>
  <div class="group">
    <%= f.select :kind_id, @kinds %>
  </div>
  <div class="group">
    <%= f.input :is_hidden %>
  </div>
  <div class="group">
    <%= f.input :writer %>
  </div>
  <div class="group">
    <%= f.input :keyword %>
  </div>
  <div class="group">
    <%= f.input :description, :as => :kindeditor,
    :input_html => { :width => 800, :height => 300 } %>
  </div>
  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>
