<h2> New message </h2>
<%= simple_form_for [:admin, @message] do |f| %>
  <div class="group">
    <%= f.input :title %>
  </div>
   <div class="group">
		 <%= select_tag(:kind_id, options_for_select(@kinds),
     :prompt => "类别") %>
 </div>
 <div class="group">
   <%= f.input :is_hidden %>
 </div>
  <div class="group">
    <%= f.input :description, :as => :kindeditor,
    :input_html => { :width => 800, :height => 300 } %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>
