<h3>
    <strong>分类名称:</strong>
    <%= @category.name %>
</h3>
<p>
    <strong>分类描述:</strong>
    <%= @category.description %>
</p>
<br>
<h5>
  此分类下的商品：
</h5>
  <% Product.where(category_id: @category.id).each do |product| %>

  <li>
  	  <%= product.title %>
	</li>
	<% end %>
<br>

	<%= link_to 'Edit', edit_category_path(@category) %>
 |
	<%= link_to 'Back', categories_path %>
